* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  padding: 1rem;
  justify-content: flex-start;
}

nav div a {
  color: aliceblue;
  text-decoration: none;
  margin: 0 1rem;
}

