::-webkit-scrollbar {
  display: none;
}

.main-body-kitchen {
  display: grid;
  grid-template-columns: 70% 30%;
  height: calc(100vh - 60px);
}

.main-grid-container-kitchen {
  max-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 25px;
  background-color: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-grid-container-kitchen .grid-item {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: 100px;
  max-height: 150px;
  height: fit-content;
  position: relative;
  padding: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  place-items: center;
  font-size: clamp(2rem, 10vw, 1rem);
  border: 2px solid black;
}

.main-grid-container-kitchen .grid-item .orderNo {
  border-right: 2px solid black;
  padding-right: 15%;
  margin-bottom: 0;
}

.main-grid-container-kitchen .grid-item .foodName {
  margin-bottom: 0;
}

.main-grid-container-kitchen .grid-item .tableNo {
  border-left: 2px solid black;
  padding-right: 15%;
  padding-left: 15%;
  margin-bottom: 0;

}

.second-grid-container-kitchen {
  border: 2px solid black;
  border-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 25% 10% 25% 25%;
}

.second-grid-container-kitchen #table-id {
  border-bottom: 2px solid black;
  padding: 20px;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  padding-top: 7.5%;
  font-size: larger;
}

.second-grid-container-kitchen #food {
  padding: 20px;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  font-size: larger;
  padding-top: 20%;
}

.second-grid-container-kitchen #time {
  padding: 20px;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  font-size: larger;
  padding-top: 7.5%;
}

.second-grid-container-kitchen #done,
.second-grid-container-kitchen #cancel {
  /* padding: 20px; */
  text-align: center;
  place-items: center;
}

.second-grid-container-kitchen #done-btn {
  background-color: rgb(138, 223, 138);
}

.second-grid-container-kitchen #cancel-btn {
  background-color: rgb(224, 97, 97);
}

.second-grid-container-kitchen #done-btn,
.second-grid-container-kitchen #cancel-btn {
  padding: 50px;
  width: 320px;
  border-radius: 20px;
  font-size: larger;
}

/* สีบอกเวลา */
.time1 {
  background-color: greenyellow;
}

.time1 {
  background-color: greenyellow;
}

.time1 {
  background-color: greenyellow;
}