@import url("https://fonts.googleapis.com/css?family=Mitr&display=swap");

/* nav-grid {
  background-color: black;
  padding: 1rem;
  justify-content: flex-start;
  height: 60px;
} */

/* nav {
  background-color: black;
  padding: 1rem;
  justify-content: flex-start;
  height: 60px;
} */

/* nav a {
  color: aliceblue;
  text-decoration: none;
  margin: 0 1rem;
} */

.nav-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  background-color: black;
  padding: 1rem;
  height: 60px;
  width: 100vw;
}

.nav-item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  background-color: none;
}

.nav-item-grid a {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
}

.nav-item-grid a:first-child {
  padding-left: 2.5rem;
}

.nav-item-grid #kitchen-nav {
  padding-left: 2.5rem;
}

.logout {
  display: table-cell;
  justify-self: end;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  background-color: none;
  display: inline;
  vertical-align: middle;
}

.logout img.exit_logo {
  margin-top: -10px;
  background-color: white;
  border: 5px solid white;
  border-radius: 20%;
  right: 20px;
  height: 45px;
}

/* Reponsive */
@media (max-width: 1920px) {}

@media (max-width: 1280px) {
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    background-color: black;
    padding: 1rem;
    height: 60px;
    width: 100vw;
  }

  .nav-item-grid a {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
  }

  .nav-item-grid a:first-child {
    padding-left: 2.5rem;
  }

  .logout img.exit_logo {
    /* position: fixed; */
    margin-top: -0.5rem;
    background-color: white;
    border: 5px solid white;
    border-radius: 20%;
    height: 2.75rem;
  }
}

@media (max-width: 1024px) {
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    background-color: black;
    padding: 1rem;
    height: 60px;
    width: 100vw;
  }

  .nav-item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    grid-template-rows: auto;
    gap: 3rem;
    background-color: none;
  }

  .nav-item-grid a {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
  }

  .logout img.exit_logo {
    margin-top: -0.5rem;
    background-color: white;
    border: 5px solid white;
    border-radius: 20%;
    height: 2.75rem;
  }
}

@media (max-width: 432px) {
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    background-color: black;
    padding: 1rem;
    height: 60px;
    width: 100vw;
  }

  .nav-item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: auto;
    gap: 0px;
    background-color: none;
  }

  .nav-item-grid a {
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
  }

  .nav-item-grid a:first-child {
    padding-left: 0rem;
  }

  .nav-item-grid #kitchen-nav {
    padding-left: 2rem;
  }

  .logout {
    display: table-cell;
    justify-self: end;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-right: 0px;
    background-color: none;
    display: inline;
    vertical-align: middle;
  }

  .logout img.exit_logo {
    margin-top: -0.5rem;
    background-color: white;
    border: 5px solid white;
    border-radius: 20%;
    height: 2.75rem;
  }
}