@import url("https://fonts.googleapis.com/css?family=Mitr&display=swap");

body {
  font-family: "Mitr", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.main-body-table {
  display: grid;
  grid-template-columns: 70% 30%;
  height: calc(100vh - 63px);
}

.main-grid-container-table {
  height: fit-content;
  max-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-auto-rows: auto;
  gap: 40px;
  padding: 35px;
  background-color: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-grid-container-table .grid-item {
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
  aspect-ratio: 1 / 1;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  font-size: clamp(1rem, 10vw, 2rem);
  border: 2px solid black;
  padding-top: 50px;
}

.second-grid-container-table {
  border: 2px solid black;
  border-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 25% 30% 30%;
}

.second-grid-container-table #table-id {
  border-bottom: 2px solid black;
  padding: 20px;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  padding-top: 7.5%;
  font-size: larger;
}

.second-grid-container-table #status {
  padding: 20px;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  font-size: larger;
  padding-top: 20%;
  position: relative;
}

/* #status::after {
  content: "";
  position: absolute;
  top: 5px; 
  right: 5px; 
  width: 10px; 
  height: 10px; 
  background-color: red; 
  border-radius: 50%; 
  display: block;
  content: '';
} */

/* #status::before {
  content: "";
  position: absolute;
  top: 5px; 
  right: 5px; 
  width: 10px;
  height: 10px; 
  background-color: green;
  border-radius: 50%; 
  display: block;
  content: '';
} */

.second-grid-container-table #reserve,
.second-grid-container-table #checkOut {
  /* padding: 20px; */
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  padding-top: 5%;
}

.second-grid-container-table #reserve-btn {
  background-color: rgb(115, 220, 220);
}

.second-grid-container-table #checkOut-btn {
  background-color: rgb(151, 151, 151);
}

.second-grid-container-table #reserve-btn,
.second-grid-container-table #checkOut-btn {
  padding: 50px;
  width: 320px;
  border-radius: 20px;
  font-size: larger;
}

/* Reponsive */
@media (max-width: 1920px) {
}

@media (max-width: 1280px) {
  .main-body-table {
    display: grid;
    grid-template-columns: 70% 30%;
    height: calc(100vh - 60px);
    width: calc(100vw);
  }
  .second-grid-container-table {
    border-bottom: 0px;
  }
  .second-grid-container-table #reserve-btn,
.second-grid-container-table #checkOut-btn {
  padding: 50px;
  width: 250px;
  border-radius: 20px;
  font-size: larger;
}
}

@media (max-width: 1024px) {
  .main-body-table {
    display: grid;
    grid-template-columns: 70% 30%;
    height: calc(100vh - 60px);
    width: calc(100vw);
  }

  .second-grid-container-table #reserve-btn,
  .second-grid-container-table #checkOut-btn {
    padding: 2.75rem;
    width: 12.5rem;
    border-radius: 20px;
    font-size: larger;
  }
}

@media (max-width: 432px) {

  .main-body-table {
    display: grid;
    grid-template-columns: 50% 50%;
    height: calc(100vh - 60px);
    width: calc(100vw);
  }

  .main-grid-container-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: auto;
    gap: 40px;
    padding: 35px;
    background-color: none;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .second-grid-container-table #reserve-btn,
  .second-grid-container-table #checkOut-btn {
    padding: 2rem;
    width: 7.5rem;
    border-radius: 20px;
    font-size: 15px;
  }
}
