.nav-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    border-bottom: 1px solid black;
}

.nav-item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    gap: 5px;
    background-color: none;
}

.nav-item {
    padding: 10px;
    font-size: clamp(1rem, 10vw, 2rem);
    background-color: none;
    border-right: 1px solid black;
}

.rightest {
    display: table-cell;
    justify-self: end;
    height: 100%;
    margin: 0px;
    padding: 20px;
    padding-right: 10px;
    background-color: none;
}

.rightest :first-child {
    display: inline;
    vertical-align: middle;
}