::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;
}

.main-body-transaction {
  display: grid;
  grid-template-columns: 70% 30%;
  height: calc(100vh - 63px);
  width: calc(100vw);
}

.main-grid-container-transaction {
  max-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 25px;
  background-color: none;
  overflow-x: hidden;
  overflow-y: scroll;
  height: fit-content;
}

.main-grid-container-transaction .grid-item {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: 100px;
  max-height: 100px;
  height: fit-content;
  position: relative;
  padding: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  place-items: center;
  font-size: clamp(2rem, 10vw, 1rem);
  border: 2px solid black;
}

.main-grid-container-transaction .grid-item .orderNo {
  border-right: 2px solid black;
  padding-right: 15%;
  margin-bottom: 0;
}

.main-grid-container-transaction .grid-item .foodName {
  margin-bottom: 0;
}

.main-grid-container-transaction .grid-item .tableNo {
  border-left: 2px solid black;
  padding-right: 15%;
  padding-left: 15%;
  margin-bottom: 0;
}

.time {
  font-size: 1.75rem;
}

.second-grid-container-transaction {
  border: 2px solid black;
  border-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 25% 10% 25% 25%;
}

.second-grid-container-transaction #table-id {
  border-bottom: 2px solid black;
  padding: 20px;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  padding-top: 7.5%;
  font-size: larger;
}

.second-grid-container-transaction #food {
    border: 2px solid gray;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    text-align: center;
    place-items: center;
    word-wrap: break-word;
    padding-top: 1rem;
    padding-bottom: 0rem;
    font-size: larger;
    max-height: 12rem;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 1fr;
    overflow-x: hidden;
    overflow-y: scroll;
}

.second-grid-container-transaction #time {
  padding: 20px;
  text-align: center;
  place-items: center;
  word-wrap: break-word;
  font-size: larger;
  padding-top: 7.5%;
}

.second-grid-container-transaction #done,
.second-grid-container-transaction #cancel {
  /* padding: 20px; */
  text-align: center;
  place-items: center;
}

.second-grid-container-transaction #done-btn {
  background-color: rgb(138, 223, 138);
}

.second-grid-container-transaction #cancel-btn {
  background-color: rgb(224, 97, 97);
}

.second-grid-container-transaction #done-btn,
.second-grid-container-transaction #cancel-btn {
  padding: 50px;
  width: 320px;
  border-radius: 20px;
  font-size: larger;
}

/* Reponsive */
@media (max-width: 1920px) {}

@media (max-width: 1280px) {
  .main-body-transaction {
    display: grid;
    grid-template-columns: 70% 30%;
    height: calc(100vh - 60px);
    width: calc(100vw);
  }

  .main-grid-container-transaction .grid-item {
    min-height: 100px;
    max-height: 100px;
    height: fit-content;
    font-size: 1.5rem;
  }

  .time {
    font-size: 1.4rem;
  }

  .second-grid-container-transaction {
    border-bottom: 0px;
  }

  .second-grid-container-transaction #food {
    max-height: 12rem;
  }
}

@media (max-width: 1024px) {
  .main-body-transaction {
    display: grid;
    grid-template-columns: 70% 30%;
    height: calc(100vh - 60px);
    width: calc(100vw);
  }

  .main-grid-container-transaction .grid-item {
    min-height: 75px;
    max-height: 75px;
    height: fit-content;
    font-size: 1.15rem;
  }

  .time {
    font-size: 1.1rem;
  }

  .second-grid-container-transaction #table-id {
    padding-top: 7.5%;
    font-size: 1rem;
  }

  .second-grid-container-transaction #food {
    font-size: 1rem;
    padding-top: 20%;
  }

  .second-grid-container-transaction #time {
    font-size: 1rem;
    padding-top: 7.5%;
  }

  .second-grid-container-transaction #done-btn,
  .second-grid-container-transaction #cancel-btn {
    font-size: 1rem;
    padding: 30px;
    width: 11.5rem;
  }
}

@media (max-width: 432px) {
  .main-body-transaction {
    display: grid;
    grid-template-columns: 70% 30%;
    height: calc(100vh - 60px);
    width: calc(100vw);
  }

  .main-grid-container-transaction .grid-item {
    min-height: 70px;
    max-height: 70px;
    height: fit-content;
    font-size: 0.2rem;
  }

  .main-grid-container-transaction .grid-item .orderNo {
    padding-left: 1rem;
  }

  .main-grid-container-transaction .grid-item .tableNo {
    padding-right: 1rem;
  }

  .time {
    font-size: 0.5rem;
    padding-left: 1.5rem;
  }

  .second-grid-container-transaction #table-id {
    padding-top: 7.5%;
    font-size: 1rem;
  }

  .second-grid-container-transaction #food {
    font-size: 1rem;
    padding-top: 20%;
    max-height: 12rem;
  }

  .second-grid-container-transaction #time {
    font-size: 1rem;
    padding-top: 3rem;
  }

  .second-grid-container-transaction #done-btn,
  .second-grid-container-transaction #cancel-btn {
    font-size: 0.8rem;
    padding: 1rem;
    width: 5rem;
  }

  .receiptID{
    padding-right: 1rem;
  }
}